@charset "utf-8";
@import "../theme/v1/variable";
main {
  background:#fff;
}
.prompt-base {
  position: relative;
  height: 450px;
  overflow: hidden;
  background-color: #fff;
}
.prompt-body {
  position: relative;
  height: 100%;
  background: #fff;
  padding-bottom: 100px;

  .prompt-title{
    font-size: 30px;
    text-align: center;
    color: $color-base;
    padding: 50px 0 30px 0;
  }

  .prompt-actions {
    position: absolute;
    left: 0;
    bottom: 50px;
    width: 100%;
    padding: 0 40px;
    display: flex;
    justify-content: space-between;
    .prompt-btn{
      text-align-last: center;
    }
  }

  .prompt-main{
    padding: 0 40px;
    .prompt-info{
      display: flex;
      align-items: center;
      justify-content: space-between;
      margin-bottom: 20px;
      font-size: 18px;
      .account-origin{
        font-size: 16px;
        color: $color-second;
      }
    }
  }
  .account-select{
    width: 100%;
    .el-input--small .el-input__inner{
      height: 60px;
      line-height: 60px;
      font-size: 16px;
      background-color: $bg-shallow;
    }
  }
  .no-account{
    height: 60px;
    line-height: 60px;
    background-color: $bg-shallow;
    font-size: 18px;
    text-align: center;
    color: $color-first;
  }
  .no-account-tip{
    text-align: left;
    font-size: 14px;
    margin-top: 10px;
  }
  .prompt-btn{
    width: 220px;
    height: 50px;
    border-radius: 8px;
  }
  .prompt-btn-full{
    width: 100%;
    height: 50px;
    border-radius: 8px;
    text-align-last: center;
  }
}
.network-info{
  padding: 40px;
  .network-tip{
    font-size: 18px;
    margin-bottom: 10px;
  }
  .info-item{
    font-size: 16px;
  }
  .info-label{
    color: $color-first;
  }
  .info-content{
    color: $color-second;
  }
}
.signature-title{
  display: flex;
  justify-content: space-between;
  padding: 20px 0;
  align-items: center;
  .title{
    font-size: 30px;
  }
  .signature-user{
    color: $primary-color;
  }
}
.prompt-container{
  padding: 0 15px;
}
.signature-info{
  .info{
    display: flex;
    color: $color-first;
    margin-bottom: 5px;
    .info-label{
      width: 90px;
      font-size: 16px;
    }
  }
}
.signature-content{
  position: relative;
  height: 160px;
  padding: 10px;
  overflow: hidden;
  background-color: $bg-shallow;
}
.boxed {
  margin:0 0 10px;
  padding:15px;
  border:1px solid rgba(0,0,0,0.2);
  border-radius:5px;
}

.unboxed {
  padding:10px 50px;
}

.description {
  margin-top: 5px;
  font-size: 12px;
  color: $color-first;

  b { color: $color-second; }
}
.block-20{
  height: 20px;
}
.cleartext {
  padding: 20px;
  border: 2px dashed #e6e6e6;
  border-radius: 4px;
  margin-bottom: 10px;
}
