@charset "utf-8";
$primary-color: rgba(70, 121, 254, 1);
$info-color: rgba(48, 191, 253, 1);
$warning-color: rgba(112, 70, 254, 1);
$success-color: #20ad00;
$danger-color: #ff5b5b;

$bg-shallow: rgba(70, 121, 254, 0.2);

$color-base: #333;
$color-first: #666;
$color-second: #999;

$animationDuration: 1s;